@font-face {
    font-family: 'Karla';
    src: url("fonts/Karla-Bold.woff2") format("woff2"),
        url("fonts/Karla-Bold.woff") format("woff");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url("fonts/Karla-Regular.woff2") format("woff2"),
        url("fonts/Karla-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), 
         url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}



