/* Different bigen */

.different {
  position: relative;
  padding-top: 140px;
}
.different::before {
  position: absolute;
  top: -150px;
  right: 0;
  content: "";
  display: inline-block;
  width: 400px;
  height: 400px;
  background-image: url("/images/line.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: left 250px top;
}
.different__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.different__wrapper::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #c396c6;
}
.different__heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.666667px;
  color: #2c2830;
}
.different__list {
  padding-top: 50px;
  @include list-unstyle;
}
.different__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.different__item:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 86px;
  height: 86px;
  background-image: url("/images/spark.svg");
  background-repeat: no-repeat;
}
.different__item:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 86px;
  height: 86px;
  background-image: url("/images/usa.svg");
  background-repeat: no-repeat;
}
.different__item:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 86px;
  height: 86px;
  background-image: url("/images/avatar.svg");
  background-repeat: no-repeat;
}
.dif-item__link {
  text-decoration: none;
}
.dif-item__heading {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.388889px;
  color: #2c2830;
}
.dif-item__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #837d88;
}
@include mobile-first(650px) {
  .different__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .different__item {
    width: 300px;
    padding: 20px;
  }
}
@include mobile-first(992px) {
  .different {
    padding-top: 250px;
  }
  .different::before {
    width: 1000px;
    left: calc(50% - 950px);
    background-size: 600px;
    background-position: -150px 0;
  }
  .different__wrapper {
    align-items: flex-start;
  }
  .different__wrapper::before {
    margin-bottom: 20px;
  }
  .different__item {
    align-items: flex-start;
  }
  .different__item {
    width: 340px;
    margin-right: 30px;
    padding: 0;
  }
  .dif-item__heading {
    text-align: start;
  }
  .dif-item__title {
    text-align: start;
  }
}

/*find bigen*/
.find {
  margin-bottom: 100px;
}
.find__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 20px;
  background-color: #2d2641;
  background-image: url("/images/line.svg");
  background-repeat: no-repeat;
  background-position: right -400px top -200px;
}
.find__heading {
  margin-bottom: 50px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.555556px;
  color: #ffffff;
}
@include mobile-first(992px) {
  .find__wrapper {
    padding: 70px 80px;
    flex-direction: row;
    justify-content: space-between;
  }
  .find__heading-box {
    width: 475px;
  }
  .find__heading {
    @include heading-text-unstyle;
    font-family: "DM Serif Display";
    text-align: start;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    color: #ffffff;
  }
}
