.site-footer {
    background-color: #FAFAFA;
    background-image: url("/images/line.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 100px) -400px;
}
.site-footer__top {
    text-decoration: none;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
}
.footer-top__link {
    display: block;
    margin-bottom: 30px;
}
.footer-top__list {
    display: flex;
    @include list-unstyle;
}
.footer-top__item:not(:last-child) {
    margin-right: 16px;
}

.footer-bottom {
    padding-top: 40px;
}
.footer-bottom__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-unstyle;
    margin-bottom: 40px;
}
.footer-bottom__company-heading {
    display: block;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;    
}
.footer-bottom__company-item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-bottom__company-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2D2641;    
}


.footer-bottom__help {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-unstyle;
    margin-bottom: 40px;
}
.footer-bottom__help-heading {
    display: block;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;    
}
.footer-bottom__help-item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-bottom__help-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2D2641;    
}


.footer-bottom__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-unstyle;
    margin-bottom: 40px;
}
.footer-bottom__contact-heading {
    display: block;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;    
}
.footer-bottom__contact-item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-bottom__contact-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2D2641;    
}


.footer-bottom__others {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include list-unstyle;
    margin-bottom: 40px;
}
.footer-bottom__others-heading {
    display: block;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837D88;    
}
.footer-bottom__others-item:not(:last-child) {
    margin-bottom: 16px;
}
.footer-bottom__others-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2D2641;    
}

@include mobile-first (650px){
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-top__link {
        margin-bottom: 0;
    }
    .footer-bottom {
        display: grid;
        grid-template-columns: (repeat(2, 1fr));
    }
}
@include mobile-first (992px) {
    .site-footer {
        background-position: calc(50% - 450px) -400px;
    }
    .footer-bottom {
        display: flex;
        padding-top: 50px;
    }
    .footer-bottom__list-box {
        margin-right: 170px;
    }
    .footer-bottom__list-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-bottom__list {
        align-items: flex-start;
    }
}